@model BookFriends.ViewModels.BrowseCommunitiesViewModel

@{
    ViewData["Title"] = "Communities";

}

<div id="browse-communities" class="container">
    <h3>Browse Communities</h3>
    <div id="browse-communities-search-input" class="container">
        <input type="text" class="form-control" placeholder="Find a community.." maxlength="200" v-model="searchQuery" v-on:input="onSearchInputChanged" />
    </div>
    <div id="browse-communities-list" class="container">
        <p class="text-secondary">
            {{ listingsSummary }}
        </p>
        <ul>
            <li class="mt-3 mb-3 media" v-for="listing in listings">
                <img class="bf-thumb bf-thumb-l img-thumbnail mr-4" src="~/img/icon-people.svg" alt="icon-people" />
                <div class="media-body">
                    <a v-bind:href="'/Community/View/' + listing.id">
                        <h5>{{ listing.name }}</h5>
                    </a>
                    <span class="badge badge-primary">{{ listing.memberCount }} members</span>
                    <p>{{ listing.description }}</p>
                </div>
            </li>
        </ul>
        <div class="d-flex justify-content-center" v-if="displayLoadingSpinner">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <div id="browse-communities-next-page-button" class="container text-center">
        <button class="btn btn-success btn-sm" v-on:click="onNextPageClick" v-if="displayNextPageButton">View More</button>
    </div>

</div>

@section Scripts {
    <script src="~/lib/vue/vue.global.prod.js"></script>
    <script src="~/js/vm/searchable-list-component.js"></script>
    <script>
        const listingsVm = Vue.createApp(searchableListComponent).mount('#browse-communities');
        listingsVm.listings = @Json.Serialize(Model.CommunityGroupDtos);
        listingsVm.totalListings = @Model.TotalCommunities;
        listingsVm.listingsPerPage = @Model.ListingsPerPage;
    </script>
}