@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>BookFriends is a service that makes it easier to swap your finished books for new books that you want to read.</p>
</div>
