:root {
    --color-header: #1a4271;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin-bottom:60px; /* Match footer height */
}

/* Utilities */

.text-left {
    text-align: left;
}

/* Root Layout */

.header {
    background-color: #1a4271;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px; /* Vertically center the text there */
}


/* BookFriends custom
-------------------------------------------------- */
img.bf-thumb {
    background-color: #F0F0F0;
}

img.bf-thumb-s {
    width:1.5rem;
}

img.bf-thumb-m {
    width:2.2rem;
}

img.bf-thumb-l {
    width:3rem;
}
